.OmmigText{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    margin-bottom: 50px;
}



.OmmigText h1{
    font-size: 2rem;
    font-weight: bold;
    padding: 1rem 1rem 0rem 1rem;
    color: var(--text1-color)
}

.OmmigText p{
    font-size: 1rem;
    color: var(--text1-color);
    padding: 1rem 1rem 1rem 1rem;
}

/* Styles for smaller tablets */
@media (min-width: 768px) and (max-width: 819px) {
    .OmmigText h1{
        font-size: 2.5rem;
        font-weight: bold;
        padding: 1rem 1rem 0rem 1rem;
        color: var(--text1-color)
    }
    
    .OmmigText p{
        font-size: 1.5rem;
        color: var(--text1-color);
        padding: 1rem 1rem 1rem 1rem;
    }
    
}

/* Styles for desktop */
@media (min-width: 820px) {
    .OmMig{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        width: 100%;
     }
     .OmmigText h1{
        font-size: 2.5rem;
        font-weight: bold;
        padding: 1rem 1rem 0rem 1rem;
        color: var(--text1-color)
    }
    
    .OmmigText p{
        font-size: 1.5rem;
        color: var(--text1-color);
        padding: 1rem 1rem 1rem 1rem;
    }
}

/* Styles for large desktops */
@media (min-width: 1024px) {
 .OmMig{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
 }   
 .OmmigText h1{
    font-size: 3rem;
    font-weight: bold;
    padding: 1rem 1rem 0rem 1rem;
    color: var(--text1-color)
}

.OmmigText p{
    font-size: 2rem;
    color: var(--text1-color);
    padding: 1rem 1rem 1rem 1rem;
}
}

/* Styles for large desktops */
@media (min-width: 1200px) {  
     .OmmigText h1{
        font-size: 3rem;
        font-weight: bold;
        padding: 1rem 1rem 0rem 1rem;
        color: var(--text1-color)
    }
    
    .OmmigText p{
        font-size: 2rem;
        color: var(--text1-color);
        padding: 1rem 1rem 1rem 1rem;
    }
}