/* mobile first */
.SeparationsCoachen{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.SeparationsCoachenMain{
    width: 100%;
    margin-bottom: 1rem;
}

.Coachen-text{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.Coachen-text h1{
    font-size: 2rem;
    font-weight: bold;
    padding: 1rem 1rem 0rem 1rem;
    color: var(--text1-color);

}

.Coachen-text p{
    font-size: 1.5rem;
    color: var(--text1-color);
    padding: 1rem 1rem 1rem 1rem;
}

/* Styles for smaller tablets */
@media (min-width: 768px) and (max-width: 819px) {
.Coachen-text h1{
    font-size:2.5rem;
}

.Coachen-text p{
    font-size: 1.5rem;
}
/* Styles for desktop */
@media (min-width: 820px) {

}
}

/* Styles for large desktops */
@media (min-width: 1024px) {
 .SeparationsCoachen{
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100%;
 }   
 .Coachen-text h1{
    font-size:2.5rem;
}

.Coachen-text p{
    font-size: 1.8rem;
}
}

/* Styles for large desktops */
@media (min-width: 1200px) {
    .Coachen-text h1{
        font-size:3rem;
    }
    
    .Coachen-text p{
        font-size: 2rem;
    }
}